In [45]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\anees\Data Analysis\Machine Learing\ML Data\housing_price_dataset.csv")

In [4]:
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [5]:
df.dtypes

SquareFeet        int64
Bedrooms          int64
Bathrooms         int64
Neighborhood     object
YearBuilt         int64
Price           float64
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SquareFeet    50000 non-null  int64
 1   Bedrooms      50000 non-null  int64
 2   Bathrooms     50000 non-null  int64
 3   Neighborhood  50000 non-null  object
 4   YearBuilt     50000 non-null  int64
 5   Price         50000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

# Data Preprocessing

In [7]:
df.isna().sum()

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [10]:
#df["Neighborhood"] = df["Neighborhood"].map({"Rural":1,"Urban":2,"Suburb":3})

In [11]:
df.head()

   SquareFeet  Bedrooms  Bathrooms  Neighborhood  YearBuilt          Price
0        2126         4          1             1       1969  215355.283618
1        2459         3          2             1       1980  195014.221626
2        1860         2          1             3       1970  306891.012076
3        2294         2          1             2       1996  206786.787153
4        2130         5          2             3       2001  272436.239065

# Model Bulding

In [13]:
X = df.drop("Price",axis = 1)
y = df["Price"]

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=28)

In [27]:
X_train.shape

(40000, 5)

In [28]:
y_test.shape

(10000,)

## 1.KNN

In [29]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [30]:
knn = KNeighborsRegressor()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

54689.267221165996

## 2.Linear Regression

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

50129.49782665219

## 3.Support Vector Regression(SVR)

In [33]:
from sklearn.svm import SVR

In [35]:
sv = SVR()
sv.fit(X_train,y_train)
y_pred = sv.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

74613.17112922118

## 4.Decision Tree

In [36]:
from sklearn.tree import DecisionTreeRegressor

In [37]:
dt = DecisionTreeRegressor()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

73702.16843248965

In [38]:
df.head()

   SquareFeet  Bedrooms  Bathrooms  Neighborhood  YearBuilt          Price
0        2126         4          1             1       1969  215355.283618
1        2459         3          2             1       1980  195014.221626
2        1860         2          1             3       1970  306891.012076
3        2294         2          1             2       1996  206786.787153
4        2130         5          2             3       2001  272436.239065

In [39]:
lr.coef_

array([  99.10984812, 5071.23657014, 2838.82484614, -475.89558311,
        -18.48585241])

In [40]:
lr.intercept_

40222.157824952825

# Pickling

In [41]:
import pickle

In [42]:
pickle.dump(lr,open("lr.pkl","wb"))

In [43]:
model = pickle.load(open("lr.pkl","rb"))

In [44]:
model.predict([[2126,4,1,1,1969]])

C:\Users\anees\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([237178.92707301])